/* Header */

.overskrift {
    display: grid;
    width: 100%;
    height: clamp(200px, 30vw, 70vh);
    background-image: url(/img/P1080578.JPG);
    mask-image: linear-gradient(black, transparent);
    max-width: none;
    background-size: cover;
    background-position: 0% 90%;
    place-content: center center;
}

.overskrift h1 {
    position: absolute;
    font-size: 80px;
    text-align: left;
    left: 0;
    transform: translateY(-100%);
    padding-left: 90px;
    color: rgb(230, 169, 56);
    text-shadow: 2px 2px 4px #000000;
}

.container {
    display: flex;
    margin-inline: 20px 20px;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
    background-color: hsla(242, 42%, 40%, 1);
    clip-path: polygon(1.56% 2.89%, 98.98% 0.68%, 99.93% 99.06%, 0.76% 92.15%);
    color: white;
}

@media (min-width: 1040px) {

    .overskrift h1 {
        font-size: 120px;
    }

    .flex_col2 {
        max-width: 60ch;
    }

    .flex_col2 h2 {
        text-align: left;
    }
}

@media (min-width: 1200px) {

    .overskrift h1 {
        font-size: 180px;
    }

    #first,
    #second {
        margin-top: -10%;
    }
}

.flex_col_1, .flex_col_2 {
    padding: 30px;
    padding-bottom: 60px;
    text-align: left;
    flex: 1;
}

.caption {
    text-align: center;
    color: rgb(230, 169, 56);
    font-size: 60px;
    padding-top: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.img1 {
    width: 545px;
    height: 545px;
    object-fit: cover;
}

cite h2 {
    font-size: 40px;
    text-align: left;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

article {
    margin-top: 30px;
}

article h3 {
    margin-top: 40px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 4px #000000;
}

article p {
    font-size: 20px;
}

.pris {
    position: relative;
    font-family: "Bebas Neue";
    background-color: hsla(347, 89%, 61%, 1);
    top: 35px;
    float: left;
    padding: 10px 0;
    font-size: 40px;
    text-align: center;
    width: 25%;
    clip-path: polygon(10.36% 18%, 95.31% 3.43%, 93.33% 75.71%, 8.83% 92.15%);
}

button {
    font-family: "Bebas Neue";
    background-color: hsla(347, 89%, 61%, 1);
    border: none;
    color: white;
    text-decoration: none;
    padding: 30px 0;
    font-size: 48px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    clip-path: polygon(0.83% 13.91%, 98.62% 20.59%, 99.93% 90.42%, 1.67% 79.9%);
}

button:hover {
    filter: opacity(50%)
}