/* Menu */
nav {
  background-color: unset;
}
footer {
  position: sticky;
  text-align: center;
  top: 100vh;
}
#menu_toggle {
  opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
  background-color: black;
}

#menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: black;
}

#menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: black;
}

#menu_toggle:checked ~ .menu_box {
  left: 0 !important;
}

.menu_btn {
  position: absolute;
  top: 36px;
  left: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  transition-duration: 0.25s;
}

.menu_btn > span::before {
  content: "";
  top: -8px;
}

.menu_btn > span::after {
  content: "";
  top: 8px;
}

.menu_box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: white;
  background-size: cover;
  box-shadow: 2px 2px 6px black;
  transition-duration: 0.25s;
  z-index: 1;
}

.menu_item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu_item:hover {
  text-decoration: underline;
  color: #9100d0;
}
#splash {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(400px, 30vw, 70vh);
  background-image: url(/img/P1080707.JPG);
  max-width: none;
  background-size: cover;
  color: white;
  clip-path: polygon(0px 0px, 100% 0%, 100% 90%, 0% 100%);
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
}

p,
h1,
h2,
figcaption {
  padding-inline: 30px;
  color: white;
}
cite {
  display: flex;
  justify-content: center;
  color: rgb(230, 169, 56);
  text-shadow: 2px 2px 4px #000000;
  padding-block: 40px;
  font-size: 4.3rem;
}
h1 {
  color: rgb(230, 169, 56);
  text-shadow: 2px 2px 4px #000000;
  font-size: 5rem;
  grid-column: 1 / span 3;
  grid-row: 2;
  display: grid;
  place-content: center;
}

h2 {
  color: rgb(230, 169, 56);
  text-shadow: 2px 2px 4px #000000;
  font-style: "Bebas Neue";
  font-size: 30px;
}
p {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
#video {
  width: 100%;
  display: block;
  opacity: 0.5;
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  border-style: solid;
  border-width: 3px;
  border-color: bisque;
  margin-top: 30px;
}

.playing video {
  opacity: 1;
}

.video-player-button {
  background: rgb(230, 169, 56);
  color: #774e77;
  border: none;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 30px;
  place-content: center;
}

.playing .video-player-button {
  background: rgb(230, 169, 56);
}

@media (min-width: 600px) {
  #splash {
    background-size: 100%;
    width: auto;
    height: 800px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center center;
  }
  .grid_1,
  .grid_2 {
    background-color: hsla(242, 42%, 40%, 1);
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 20px;
    gap: 70px;
    padding-inline: 60px;
    text-align: left;
  }
  .container {
    background-color: hsla(242, 42%, 40%, 1);
    width: fit-content;
    display: flex;
    justify-self: center;
    margin: 0;
    padding-block: 60px;
    padding-inline: 59px;
    clip-path: polygon(2.84% 37.54%, 93.86% 23.82%, 94.89% 90.46%, 0.87% 97.83%);
    margin-block-start: -27%;
  }
  .img1 {
    background-size: cover;
    max-width: 100%;
    clip-path: polygon(2.93% 41.14%, 91.61% 28.38%, 94.75% 92.06%, 0.04% 100%);
  }
}
