/* Header */
#overskrift {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(200px, 30vw, 70vh);
  background-image: url(/02_redesign/img/testimg.png);
  max-width: none;
  background-size: cover;
  background-position: 50% 20%;
  color: white;
}

/* container + flex-col */
.flex_container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 250px 50px 250px;
  border-bottom: 30px;
  margin-left: -264px;
  margin-right: -264px;
  background-image: url(/02_redesign/svg/ide_02.svg);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  flex: 3;
  padding: 10px 250px 50px 250px;
  margin: 0px -264px 0px;
  /* background-image: url(/svg/ide_02.svg);
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: cover; */
  color: white;
  /* clip-path: polygon(0 100%, 0 0, 100% 0, 100% 85%); */
}

.flex_col {
  padding: 30px 30px 60px;
  text-align: left;
  flex: 1;
}

.flex_col img {
  max-width: 100%;
}

.flex_col,
h2 {
  text-align: center;
}

/* Centrering af h2 og p til Udvalg */
.center {
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Grid - vores udvalg */
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  /* color: white; */
}

.lilla {
  background-color: #eb88d9;
  padding: 40px;
  margin: 55px 55px 55px 55px;
  margin-bottom: 50px;
  border-radius: 50px;
}

/* styling af grid linjer */
section {
  border-left: white solid 1px;
}

hr {
  width: 230px;
  margin-top: -25px;
  color: white;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9 {
  border-bottom: white solid 1px;
  padding: 20px;
  text-align: center;
}

/* Baggrund til hele nederste sektion */
.container {
  background-image: url(/02_redesign/svg/ide_02.svg);
  background-repeat: no-repeat;
  background-size: cover;

  margin: 20px -264px 0px;
  padding: 90px 250px 70px;

  color: white;
  clip-path: polygon(0 100%, 0 15%, 100% 0, 100% 100%);
}

/* Media quereis */

@media (max-width: 800px) {
  .flex_container {
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 90%);
  }

  .flex_col {
    padding: 5px 15px 60px 15px;
    text-align: left;
    margin: 0px 150px;
    flex: 1;
  }

  .container {
    margin-top: 4px;
    clip-path: polygon(0 100%, 0 10%, 100% 0, 100% 100%);
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    text-align: center;
    /* color: white; */
  }

  .lilla {
    background-color: #eb88d9;
    padding: 40px;
    margin: 55px 100px 50px;
    border-radius: 50px;
  }

  section p {
    margin-top: -15px;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: 300px) {
  .flex_container {
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 90%);
  }

  .flex_col {
    text-align: left;
    margin: 0px 50px;
  }

  .container {
    margin-top: 10px;
    clip-path: polygon(0 100%, 0 5%, 100% 0, 100% 100%);
  }

  .lilla {
    padding: 5px;
    margin: 40px 40px 30px;
    border-radius: 30px;
  }

  .center {
    margin: 0px 40px;
  }
}

@media (min-width: 1000px) {
  .flex_container {
    display: flex;
    flex-direction: row;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 85%);
  }

  .flex_col {
    padding: 60px 15px 60px 15px;
    padding-bottom: 60px;
    text-align: left;
    flex: 1;
  }
}
