/* body */
body {
  background-color: #774e77;
}

/* Header */
#overskrift {
  place-content: center;
  background-image: url("/img/testimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#overskrift,
p {
  text-align: center;
}

/* flex-col */
.container {
  display: flex;
  background-color: aliceblue;
}

.container,
article,
h2 {
  text-align: center;
}

.flex_col {
  padding: 20px;
}

/* Grid */
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
}
