/* Header */
#overskrift {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(200px, 30vw, 70vh);
  background-image: url(/img/testimg.png);
  max-width: none;
  background-size: cover;
  background-position: 50% 20%;
  color: white;
}

#overskrift {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

/* General */
body {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

.container2,
.container3 {
  display: flex;
  margin-inline: 20px 20px;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
  background: linear-gradient(45deg, rgb(43, 110, 49) 0%, rgb(59, 145, 68) 100%);
}

.container3 {
  background: linear-gradient(45deg, rgb(128, 19, 19) 0%, rgb(197, 26, 26) 100%);
}

.flex_col {
  padding-inline: 20px 20px;
  color: white;
}

.flex_col2 {
  padding-inline: 20px 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}

.aabning,
.aabning p,
.aabning li {
  text-align: center;
  list-style: none;
}

strong {
  color: rgb(230, 169, 56) !important;
}
article h2 {
  margin-bottom: -10px;
}

.flex_col2 article {
  max-width: 60ch;
}

@media (min-width: 1060px) {
  .flex_col2 {
    text-align: left;
  }
}
@media (min-width: 1160px) {
  .container {
    padding-block-end: 5%;
  }
  .container2 {
    clip-path: polygon(14px 29px, 98.64% 19.81%, 85.07% 79.02%, 51px 88.04%);
    padding-block-start: 20%;
    margin-top: -5%;

    padding-bottom: 170px;
  }

  .container3 {
    clip-path: polygon(
      13px 230px,
      98.46% 15.54%,
      92.64% 60.09%,
      55.59% 64.06%,
      46.25% 88.25%,
      52px 83.88%
    );
    padding-block-start: 20%;
    margin-top: -5%;

    padding-bottom: 170px;
  }

  #first,
  #second {
    margin-top: -10%;
  }
}

body {
  margin: 0 auto;

  background: linear-gradient(45deg, rgb(180, 180, 180) 0%, rgb(148, 148, 148) 100%);
}
