/* Header */
#overskrift {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(200px, 30vw, 70vh);
  background-image: url(/img/testimg.png);
  max-width: none;
  background-size: cover;
  background-position: 50% 20%;
  color: white;
}

#overskrift {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

/* General */
body {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

.container2,
.container3 {
  display: flex;
  margin-inline: 20px 20px;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
  background-color: hsla(242, 42%, 40%, 1);
}

.flex_col {
  padding-inline: 20px 20px;
  color: white;
}

.flex_col2 {
  padding-inline: 20px 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}

.aabning,
.aabning p,
.aabning li {
  text-align: center;
  list-style: none;
}

strong {
  color: rgb(230, 169, 56) !important;
}
article h2 {
  margin-bottom: -10px;
}

.flex_col2 article {
  max-width: 60ch;
}

@media (min-width: 1060px) {
  .flex_col2 {
    text-align: left;
  }
}
@media (min-width: 1160px) {
  .container {
    padding-block-end: 5%;
  }
  .container2 {
    clip-path: polygon(14px 29px, 98.64% 19.81%, 85.07% 79.02%, 51px 88.04%);
    padding-block-start: 20%;
    margin-top: -5%;

    padding-bottom: 170px;
  }

  .container3 {
    clip-path: polygon(
      42px 221px,
      99.67% 19.49%,
      92.64% 60.09%,
      53.09% 65.13%,
      48.15% 85.47%,
      72px 87.51%
    );
    padding-block-start: 20%;
    margin-top: -5%;

    padding-bottom: 170px;
  }

  #first,
  #second {
    margin-top: -10%;
  }
}
