/* Header */
#overskrift {
  display: grid;
  place-content: center center;
  width: 100%;
  height: clamp(300px, 50vw, 100vh);
  background-image: url(/img/testimg.png);
  max-width: none;
  background-size: cover;
  background-position: 50% 20%;
  color: white;
}

#overskrift {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}
body {
  margin: 0 auto;
  background: linear-gradient(
    50deg,
    rgb(225, 194, 173) 55%,

    rgb(177, 157, 143) 55%
  );
}

.container,
.container2 {
  display: flex;
  justify-content: space-around;

  margin-top: 40px;
  flex-wrap: wrap;
}

.container {
  background-color: #7e4aac;
}
.container2 {
  background-color: #550055;
  text-align: center;
}

.flex_col {
  padding-inline: 20px 20px;
  color: white;
}

.flex_col2 {
  padding-inline: 20px 20px;
  color: white;
}

.aabning,
.aabning p,
.aabning li {
  text-align: center;
}

@media (min-width: 1040px) {
  .flex_col2 {
    max-width: 60ch;
  }
}

@media (min-width: 1200px) {
  .container {
    clip-path: polygon(110px 21px, 90.83% 7px, 80.75% 89%, 183px 65%);
    padding-block-end: 15%;
  }
  .container2 {
    clip-path: polygon(13px 48px, 99.5% 20.83%, 98.08% 93.37%, 7px 82.71%);
    padding-block-start: 20%;
    margin-top: -5%;

    padding-bottom: 170px;
    text-align: left;
  }

  #first,
  #second {
    margin-top: -10%;
  }
}

/* article h2 {
  margin-bottom: -10px;
  text-align: center;
} */
