/* nav */
.index img {
  min-width: 300px;
  max-width: 400px;
}
.oversigt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue";
  font-size: 1.6rem;
}

nav {
  background-color: rgb(225, 194, 173);
}

@media (min-width: 650px) {
  .oversigt {
    flex-direction: row;
  }
}

@media (min-width: 1500px) {
  .oversigt {
    display: grid;
    grid-template-columns: 1fr repeat(4, 300px) 1fr;
    text-align: center;
    justify-content: center;
  }
}

nav li :hover {
  text-decoration: underline;
}

/*
nav ul {
  display: flex;
flex-direction: column;
  padding-left: 0;
  padding-right: 0;

  list-style: none;
  justify-content: space-around;

}


@media (min-width: 1000px) {
  nav {
   display: grid;
    grid-template-columns: 300px  auto;
   
    }
}
@media (min-width: 1800px) {
  nav {
   
    grid-template-columns: auto minmax(auto, 1200px) auto;
   
    }
} */
/* overskrift */
#overskrift h1,
#overskrift p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/*  */

/* Typografi */
h1 {
  font-family: "Bebas Neue";
  font-size: 70px;
  text-align: center;
}
h2 {
  font-family: "Bebas Neue";
  font-size: 30px;
}
p,
a,
footer,
li {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

/* li 40px padding fejl */
li {
  padding-left: 0;
}
cite {
  font-family: "Bebas Neue";
  font-size: 25px;
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: #774e77;
}
/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: white;
  padding-block: 20px;
  text-align: center;
}
