nav {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: white;
}

.index {
  background-image: url(/svg/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

nav ul {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  grid-column: 2;
  list-style: none;
  overflow-x: auto;
  justify-content: space-around;
}

/* overskrift */
#overskrift h1,
#overskrift p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/*  */

/* Typografi */
h1 {
  font-family: "Bebas Neue";
  font-size: 70px;
  text-align: center;
}
h2 {
  font-family: "Bebas Neue";
  font-size: 30px;
}
p,
a,
footer,
li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
}
cite {
  font-family: "Bebas Neue";
  font-size: 25px;
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: #774e77;
}
/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  padding-block: 20px;
}
