/* MOBIL */
@media (max-width: 736px) {
  .main,
  .flex_col1,
  .flex_col2,
  .flex_col3_1,
  .flex_col3_2,
  .flex_col5_1,
  .flex_col5_2,
  .flex_col5_3,
  img {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }
  .container1,
  .container2,
  .container4 {
    background-color: hsla(347, 89%, 61%, 1);
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 10px;
    margin-block-end: 4vh;
    clip-path: polygon(0% 0%, 0% 99%, 100% 100%, 100% 1%);
    margin-inline: 10px;
  }
  .container3,
  .container5 {
    background-color: hsla(242, 42%, 40%, 1);
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 10px;
    margin-block-end: 50px;
    clip-path: polygon(0% 0%, 0% 99%, 100% 100%, 100% 1%);
    margin-inline: 10px;
  }
  article {
    margin-block-end: -25px;
  }
  h1 {
    font-size: 3.8rem;
    padding-inline: 30px;
    padding-top: 10px;
    color: rgb(230, 169, 56);
    text-shadow: 2px 2px 4px #000000;
  }
  p {
    padding-inline: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  h2,
  h3 {
    color: rgb(230, 169, 56);
    padding-inline: 30px;
    text-shadow: 2px 2px 4px #000000;
  }

  #overskrift {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin: 0;
    margin-bottom: 90px;
    height: 35vh;
    width: 100%;
  }
  .img1 {
    background-image: url(img/P1080584.webp);
    grid-column: 1/2;
    grid-row: 1;
    height: 34vh;
    background-position: 0% 0%;
    background-size: 300%;
    clip-path: polygon(0px 0px, 100% 0%, 100% 90%, 0% 100%);
  }
  .img2 {
    background-image: url(img/P1080584.webp);
    grid-column: 2/3;
    grid-row: 1;
    height: 34vh;
    background-position: 50% 0%;
    background-size: 300%;
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0% 90%);
  }
  .img3 {
    background-image: url(img/P1080584.webp);
    grid-column: 3/4;
    grid-row: 1;
    height: 34vh;
    background-position: 100% 0%;
    background-size: 300%;
    clip-path: polygon(0px 0px, 100% 0%, 100% 90%, 0% 100%);
  }
  .BP {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  .img4,
  .img6,
  .img9,
  .img10 {
    background-position: 50% 0%;
    background-size: 300%;
    clip-path: polygon(0px 0px, 100% 10%, 100% 100%, 0% 90%);
  }
  .iframe {
    max-width: fit-content;
    place-self: center;
    border: 5px rgb(230, 169, 56);
    border-style: solid;
    margin: 0;
  }
}

/* STORSKÆRM */
@media (min-width: 736px) {
  #overskrift {
    background-size: 100%;
    height: 300px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 5px;
    height: 85vh;
  }
  main {
    flex-wrap: wrap;
    width: fit-content;
  }

  h1 {
    font-size: 5rem;
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    place-content: center;
  }

  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }

  .img1 {
    background-image: url(img/P1080584.webp);
    background-size: 300%;
    background-position: 0% 0%;
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 5% 87%);
    height: 70vh;
  }
  .img2 {
    background-image: url(img/P1080584.webp);
    background-size: 300%;
    background-position: 50% 0%;
    clip-path: polygon(0px 0px, 100% 0%, 100% 83%, 0% 100%);
    height: 70vh;
  }
  .img3 {
    background-image: url(img/P1080584.webp);
    background-size: 300%;
    background-position: 100% 0%;
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0% 83%);
    height: 70vh;
  }
  .img4 {
    background-image: url(img/testimg.png);
    max-width: 495px;
    border: 5px rgb(230, 169, 56);
    border-style: solid;
  }
  .img5 {
    background-image: url(img/testimg.png);
    background-size: cover;
    max-width: 275px;
    height: 570px;
    border: 5px rgb(230, 169, 56);
    border-style: solid;
  }

  .container1 {
    margin-block: 50px;
  }

  .flex_col1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 20px;
    gap: 70px;
    padding-inline: 60px;
    text-align: left;
  }

  .container2 {
    background-image: url(img/P1080515.webp);
    background-size: cover;
    margin: 0;
    padding-block: 60px;
    margin-block-end: 50px;
    clip-path: polygon(0px 0px, 100% 11%, 94.54% 93.15%, 3% 100%);
    transform: translateX(-5%);
    width: 100%;
  }

  .flex_col2 {
    display: flex;
    gap: 70px;
    padding-inline: 60px;
    text-align: left;
  }
  .container3 {
    background-color: hsla(242, 42%, 40%, 1);
    display: flex;
    margin: 0;
    padding-block: 60px;
    margin-block-end: 50px;
    clip-path: polygon(2.42% 5.91%, 99.5% 0.1%, 99.67% 98.48%, 0.59% 96.32%);
    width: 100%;
  }
  .flex_col3_1 {
    grid-column: 1 / 2;
    gap: 5px;
    padding-inline: 60px;
    text-align: left;
  }
  .flex_col3_2 {
    grid-column: 2 / 3;
    gap: 5px;
    padding-inline: 60px;
    text-align: left;
  }
  .container4 {
    background-color: hsla(242, 42%, 40%, 1);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-block: 60px;
    margin-block-end: 50px;
    gap: 10px;
    padding-inline: 50px;
    clip-path: polygon(
      0.84% 0.64%,
      63.29% 16.22%,
      98.69% 9.3%,
      98.89% 83.76%,
      55.39% 83.27%,
      54% 91.07%,
      0.44% 96.3%
    );
  }
  .img6 {
    background-size: cover;
    width: 100%;
    clip-path: polygon(
      0.66% 0.57%,
      94.75% 11.51%,
      100.14% 90.77%,
      -0.01% 97.98%
    );
  }
  .img9 {
    background-size: cover;
    width: 100%;
    clip-path: polygon(
      -0.13% 20.38%,
      99.91% 8.17%,
      98.29% 84.32%,
      5.17% 81.89%
    );
  }

  .container5 {
    background-image: url(img/P1080560.webp);
    background-size: cover;
    display: flex;
    margin: 0;
    padding-block: 60px;
    margin-block-end: 50px;
    clip-path: polygon(0.34% 0.48%, 98.92% 3.69%, 96.17% 98.07%, 2.34% 93.13%);
    width: 100%;
  }
  .flex_col5_1 {
    grid-column: 1 / 2;
    gap: 5px;
    padding-inline: 60px;
    text-align: left;
  }
  .flex_col5_2 {
    grid-column: 2 / 3;
    gap: 5px;
    padding-inline: 60px;
    text-align: left;
  }
  .flex_col5_3 {
    grid-column: 3 / 4;
    gap: 5px;
    padding-inline: 60px;
    text-align: left;
  }

  .iframe {
    max-width: 432px;
    height: 661px;
    border: 5px rgb(230, 169, 56);
    border-style: solid;
    margin-top: 0;
    margin-bottom: 20px;
    grid-column: 2 / 3;
  }
}
