#overskrift {
  background-size: 100%;
  height: 400px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
h1 {
  position: absolute;
  text-align: center;
  top: 340px;
  left: 520px;
}

.img1 {
  background-image: url(/img/test.jpg);
  background-size: cover;
}
.img2 {
  background-image: url(/img/test.jpg);
  background-size: cover;
}
.img3 {
  background-image: url(/img/test.jpg);
  background-size: cover;
}
.img4 {
  background-image: url(/img/test.jpg);
  max-width: 500px;
}

.baggrund2 {
  background-color: #71599f;
  margin: 0;
  height: 80px;
}

.container1 {
  margin-block: 50px;
}

.flex_col1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 20px;
  gap: 70px;
  padding-inline: 60px;
  text-align: left;
}

.container2 {
  background-image: url(/img/test.jpg);
  background-size: cover;
  margin: 0;
  padding-block: 60px;
}

.flex_col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 70px;
  padding-inline: 60px;
  text-align: left;
}

/* KNAP FUNKTION */
body.dark {
  background: orange;
  color: brown;
}
.header.dark {
  background: brown;
  color: orange;
}
/* KNAP */
.mode {
  background: #8d6e4e;
  border-color: #e0bb88;
  border-style: inset;
  color: #e0bb88;
  transition: 1s;
}
.mode:hover {
  background: #8d6e4e;
}

.dark .mode:hover {
  background: hsl(0, 75%, 65%);
}
.dark .mode {
  background: hsl(255, 75%, 60%);
}
.dark .header {
  background: orange;
}
.dark .footer {
  background: orange;
}
.dark p {
  background: rgb(38, 163, 123);
}
.dark small {
  background: rgb(179, 65, 49);
}
.dark h1 {
  background: rgb(76, 98, 196);
}
.dark section {
  background: rgb(223, 125, 112);
}
.dark article {
  background: rgb(215, 24, 88);
}
.dark figure {
  background: rgb(215, 24, 88);
}
.dark .body {
  background: orange;
}
.dark.mode:hover {
  background: rgb(65, 42, 165);
}
